@use './variables' as *;

.jumbo{
    background-color: $site_dark;
    color: $site_white;
    height: 4rem;
    display: flex;
    align-items: center;

      .container{
        width: 80%;
        margin: auto;
      }

   }